<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheets" href="index.css">
  
  <meta charset="UTF-8">
  <title>全てのキャリアパーソンのために</title>
</head>
<body>
  <footer>
      <p>
        Copyright ForStyle 2020.
      </p>
    </footer>
</body>
</html>